@tailwind base;
@tailwind components;
@tailwind utilities;

/* 强制全局暗黑主题与原生字体 */
html, body {
  @apply bg-gray-900 text-gray-100 antialiased;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

/* 隐藏滚动条但保留滚动功能（为了让终端日志窗更好看） */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}